.box
{
    background-color: whitesmoke;
    width: 98vw;
    height: 60vh;
    box-shadow:0 0 0 0.6px rgb(2, 28, 128); /*cor da margem*/

}

.title
{
    padding: 1vw;
    background-color: rgb(81, 136, 232);
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.boxText
{
    padding-left: 1vw;
    font-size: 2vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

#matricula
{
    display: flex;
}